.Chart {
  display: flex;
  margin-top: 2rem;
}

.lineChart {
  flex: 4;
  padding: 5px;
  height: 460px;
  background-color: rgb(255, 255, 255);
  box-shadow: -5px 6px 9px -3px rgba(0, 0, 0, 0.74);
  border-radius: 3px;
}

.pieChart {
  flex: 2;
  padding: 5px;
  height: 460px;
  background-color: rgb(255, 255, 255);
  margin-left: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: -5px 6px 9px -3px rgba(0, 0, 0, 0.74);
  border-radius: 3px;
}
